body {
    background-color: #f5f5f5;
}

main {
    padding: 15px;
    padding-bottom: 0px;
    margin: 30px;
}

p, li{
    padding-top: 10px;
}

ol, ul {
    padding-left: 25px;
}

h1, h2, h3, h4 {
    margin-top: 15px;
}

figure {
    padding: 20px;
}

footer {
    background-color: #ffcb05;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p {
    padding: 5px;
    padding-left: 20px;
}

footer a:visited {
    color: black;
}

p, h1, h2, h3, h4, li, a, figcaption {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
    color: #00274c;
    font-size: 1.25rem;
    font-weight: 700;
}

.container h3 {
    text-transform: uppercase;
    color: #00274c;
    font-weight: 700;
}

.skip {
    position: absolute; 
    top: -999px;
}
.skip:focus {
    position: relative; 
    top: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.table_contents {
    list-style: none;
    background-color: f5f5f5;
    padding: 10px;
    color: #00274c;
    font-weight: bold;
    border: #00274C solid 3px;
    display: flex;
}

.table_contents li {
    margin: 10px;
    padding: 3px;
    text-decoration: none;
}

.table_contents a {
    color: #00274C;
    text-decoration: none;
}

.table_contents a:visited {
    color: #00274C;
    text-decoration: none;
}


header h1 {
    background-color: #ffcb05;
    padding: 20px;
}

/*Home Page*/
.classic_logo {
    width: 75px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    padding-top: 0px;
}

.container .welcome {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

.container .physical {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
}


.container .mental {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
}

.container .physical .UHS .image {
    text-align: center;
}

.container .physical .Rec .image {
    text-align: center;
}

.container #life-outside-classroom {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
}

.container .physical .image {
    width: 100%;
    text-align: center;
}

.container .mental .image {
    width: 100%;
    text-align: center;
}

/*Page 1, 2, 3*/

.page_1_container, .page_2_container, .page_3_container {
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.page_2_container .tutoring_image {
    width: 90%;
}

.page_3_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    place-items: center;
}

.page_3_container .image1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    width: 90%;
}

.page_3_container .image2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    width: 90%;
}

.north_quad {
    width: 95%;
    
}

.SI_logo img {
    width: 80%;
}

.error {
    background-color: #f9f9f9;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.error-container {
    text-align: center;
  }

#error h1{
    font-size: 6rem;
    margin: 0;
    color: #00274c;
}

#error p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

#error a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #00274c;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease;
}

#error a:hover {
    background-color: #00274c;
}

a.button {
    display: inline-block;
    background-color: #ffcb05;
    color: black;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    transition: background 0.3s ease;
    margin: 15px;
}
  
a.button:hover {
    background-color: #d6b42a;
}

.book-advising {
    list-style: none;
    padding-left: 0px;
}

@media screen and (min-width: 800px){
    p, li {
        font-size: 18px;
    }

    header h1 {
        font-size: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }
    /*Home*/
    .container h2 {
        font-size: 40px;
    }

    .container {
        gap: 30px;
    }
    .container p, h3 {
        padding: 5px;
        padding-top: 0px;
    }

    .mental figure {
        text-align: center;
    }

    .mental .image {
        max-width: 66%;
        display: block;
        margin: 0 auto;
    }

    #main-content h2 {
        font-size: 33px;
    }

    #main-content h3 {
        font-size: 25px;
    }

    .page_1_container .north_quad {
        width: 75%;
    }

    .page_2_container .tutoring_image {
        width: 75%;
    }

    .SI_logo img {
        width: 40%;
    }

    .hover-figure {
        display: inline-block;
        position: relative;
      }
      
    .hover-figure img {
        display: block;
        max-width: 100%;
        height: auto;
    }
      
    .hover-figure figcaption {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 20px);
        opacity: 0;
        background: rgba(255, 255, 255, 0.8);
        padding: 0.3rem 0.6rem;
        border-radius: 6px;
        font-size: 0.9rem;
        transition: transform 0.4s ease, opacity 0.4s ease;
        max-width: 200px;
    }
      
    .hover-figure:hover figcaption {
        transform: translate(-50%, 0);
        opacity: 1;
    }


}





